.color1 {
  background-color: #028090;
}
.color2 {
  background-color: #168aad;
}
.color3 {
  color: #495057;
}
.jumbotron {
  background-color: #a9d6e5;
}
section {
  padding-top: 4rem;
}
.bold {
  font-weight: 350;
}
